apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: exclude-falco-namespace
spec:
  background: false
  rules:
  - name: allow-create-falco-namespace
    match:
      resources:
        kinds:
        - Namespace
        names:
        - falco
    preconditions:
      any:
      - key: "{{ request.operation }}"
        operator: Equals
        value: "CREATE"
    validate:
      message: "Namespace 'falco' creation is explicitly accepted by this policy."
      pattern:
        metadata:
          name: "falco"
